/* ----------------------- Google Fonts -------------------- */
@font-face {
    font-family: 'DMSerifDisplay';
    src: url('/fonts/DMSerifDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------- CSS Variables ------------------- */
:root {
    --header-height: 4rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors */
    --background-color: #f8faf7;
    --nav-color: #eff4ec;
    --subheader-color: #96b885;
    --header-color: #6f8578;
    --text-color: #070a05;


    /* Font & Typography */

    --body-font: 'Poppins',
        'DMSerifDisplay';
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --normal-font-size: 1.75rem;
    --small-font-size: 1.5rem;
    --smaller-font-size: 1.25rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2.75rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'DMSerifDisplay';
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p {
    margin: 0;
}

b {
    font-family: 'Poppins-Bold';
}

h1,
h2,
h3,
h4,
.nav__logo {
    color: var(--header-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

p {
    font-family: 'Poppins';
}

h3 {
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
    padding-bottom: 0.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Menu icon */
.bx {
    font-size: 1.6rem;
}

/* Class CSS */
.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    margin-bottom: 0.25rem;
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}


/* -------------------- Nav ----------------------- */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
}

.nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-color);
    transition: .5s;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--nav-color);
    cursor: pointer;
}

.nav__item {
    margin-bottom: var(--mb-3);
    margin-left: 1.5rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.nav__link {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover {
    color: var(--header-color);
}

.nav__toggle {
    color: var(--subheader-color);
    font-size: 1.3rem;
    cursor: pointer;
}

/* --------------------- show menu -------------------- */
.show {
    right: 0;
}

/* ----------------------- Active menu ----------------- */
.active {
    color: white;
}

/* ----------------------- Home ------------------------------ */
.home-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
    width: auto;
    margin-left: auto;
    margin-right: 0 auto;
    padding-left: 8.5rem;
    padding-right: 6rem;
}

.home-body {
    display: flex;
    flex: 1;
    margin-bottom: -4rem;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
    padding: 2rem;
}

.home-img {
    width: 500px;
    align-items: flex-start;
}

.home-title {
    font-size: 4rem;
}

.home-profession {
    font-size: 2rem;
    color: var(--header-color);
    margin-bottom: 2rem;
}

.home-social {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.home-social-link {
    display: inline-flex;
    background-color: var(--subheader-color);
    color: var(--nav-color);
    font-size: 1.1rem;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 var(--mb-1);
    transition: .3s;
    font-family: 'Poppins';
}

.home-social-link:hover {
    background-color: var(--header-color);
}

.home-button {
    font-family: 'Poppins';
}

/* ----------------------- Buttons ------------------ */
.button {
    display: inline-flex;
    background-color: var(--subheader-color);
    color: var(--nav-color);
    font-size: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 var(--mb-1);
    transition: .3s;
    font-family: 'Poppins';
}

.button:hover {
    background-color: var(--header-color);
}

.button__light {
    background-color: var(--header-color);
    color: var(--background-color);
}

.button__light:hover {
    color: var(--header-color);
}


/* ------------------------- About -------------------------------- */

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-4);
}


/* ------------------------- Education -------------------------------- */

.education-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    border-radius: 3px;
    width: auto;
    margin-left: auto;
    margin-right: 0 auto;
    padding-left: 8.5rem;
    padding-right: 6rem;
}

.education-body {
    display: flex;
    flex: 1;
    margin-bottom: -4rem;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
    padding: 2rem;
}

.education-img {
    width: 500px;
    align-items: flex-start;
}

.education-data {
    text-align: center;
}

.education-description {
    margin-bottom: var(--mb-4);
}


/* -------------------------------------------- Work Experience ------------------------- */

.experience-container {
    padding: 1rem;
    border-radius: 3px;
    width: auto;
    margin-left: auto;
    margin-right: 0 auto;
}

.experience-text {
    padding-left: 2rem;
}

.project-description-list {
    list-style-type: circle;
    font-family: 'Poppins';
    padding-left: 2rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}


/* -------------------------------------------- Skills ------------------------- */


/* ------------------------------------ Involvements ------------------------------- */


.involvements-section {
    margin-top: -1rem;
}

.involvements__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 8rem;
    margin-right: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.involvements__content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--header-color);
    border-radius: .5rem;
    text-align: center;
}

.involvements__icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--background-color);
    color: var(--header-color);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.involvements__title {
    font-size: 1.25rem;
    color: var(--header-color);
    margin-bottom: var(--mb-1);
}

.involvements__subtitle {
    font-size: 1rem;
    color: var(--header-color);
    margin-top: -0.5rem;
}

.involvements__description {
    margin-top: -0.5rem;
    color: var(--text-color)
}

.involvements__content,
.involvements__icon,
.involvements__title,
.involvements__subtitle,
.involvements__description {
    transition: .5s;
}

.involvements__content:hover {
    background-color: var(--subheader-color);
}

.involvements__content:hover .involvements__icon {
    background-color: var(--background-color);
    color: var(--background-color);
}

.involvements__content:hover .involvements__title {
    color: var(--background-color);
}

.involvements__content:hover .involvements__subtitle {
    color: var(--background-color);
}

.involvements__content:hover .involvements__description {
    color: var(--background-color);
}

/* ------------------------------ Gallery ----------------------------- */



/* ---------------------------------- Footer ---------------------------- */
.footer {
    background-color: var(--nav-color);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer-social {
   margin: auto;
}

.footer__link {
    display: inline-flex;
    background-color: var(--subheader-color);
    color: var(--background-color);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover {
    background-color: var(--header-color);
    color: var(--background-color);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/* ------------------------------ Media Query for laptop/desktop screen ------------------------- */
@media screen and (min-width: 1025px) {
    body {
        margin: 0;
        padding-left: 0;
    }

    .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav {
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .nav__logo {
        font-size: 2.25rem;
        font-family: 'DMSerifDisplay';
    }

    .nav__menu {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
        transition: none;
        display: flex;
        align-items: center;
    }
    
    .nav__item {
        margin: 0 1.5rem;
    }
    
    .nav__list {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: nowrap;
        font-size: var(--h1-font-size);
        padding-right: 5rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__logo {
        display: block;
        padding-left: 6.5rem;
    }

    .nav__link {
        font-size: var(--normal-font-size);
        color: var(--text-color);
        text-transform: capitalize;
    }

    .experience-container {
        padding-left: 8.5rem;
        padding-right: 7rem;
    }

    .experience-content {
        padding: 1rem;
    }

    .experience-subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

/* ------------------------- Media Queries for tablet screen ---------------------------- */
@media screen and (max-width: 1024px) {
    :root {
        --h1-font-size: 2.75rem;
        --h2-font-size: 2.25rem;
        --h3-font-size: 1.75rem;
    }

    p {
        font-size: 1rem;
    }

    .home-container,
    .education-container,
    .experience-container {
        flex-direction: column;
        padding: 0;
    }

    .home-img {
        padding-top: 1rem;
        width: 300px;
    }

    .home-title {
        font-size: var(--h1-font-size);
    }

    .home-profession {
        font-size: var(--h3-font-size);
    }

    .nav__logo {
        padding-left: 1rem;
        font-size: var(--h3-font-size);
    }

    .nav__toggle,
    .nav__close {
        padding-right: 1rem;
        color: var(--header-color);
    }

    .about-description {
        margin-bottom: 0;
    }

    .education-img {
        display: none;
    }

    .experience-container {
        text-align: center;
        padding-top: 1rem;
    }

    .experience-text {
        padding-bottom: 1rem;
    }

    .experience-content {
        text-align: center;
    }

    .work-experience {
        padding-top: 1rem;
    }

    .involvements__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }  
}

/* ------------------------- Media Queries for phone screen ---------------------------- */
@media screen and (max-width: 480px) {
    :root {
        --h1-font-size: 2.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .home-container,
    .education-container {
        flex-direction: column;
        padding: 0;
    }

    .home-img {
        padding-top: 1rem;
        width: 300px;
    }

    .home-title {
        font-size: var(--h1-font-size);
    }

    .home-profession {
        font-size: var(--h3-font-size);
    }

    .nav__logo {
        padding-left: 1rem;
        font-size: var(--h3-font-size);
    }

    .nav__toggle,
    .nav__close {
        padding-right: 1rem;
        color: var(--header-color);
    }

    .education-img {
        display: none;
    }

    .experience-container {
        text-align: center;
        padding-top: 1rem;
    }

    .experience-content {
        padding-bottom: 1rem;
    }

    .project-description-list {
        margin: 1rem;
    }
       
    .involvements__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }  

}