/* ----------------------- Google Fonts -------------------- */
@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('/fonts/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Howdy Lemon';
    src: url('/fonts/Howdy-Lemon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------- CSS Variables ------------------- */
:root {
    --header-height: 3rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors */
    --first-color: #DAA38F;
    --first-color-dark: #d19782;
    --first-color-darken: #bd816a;
    --text-color: #9b7d61;
    --first-color-light: #e9d7c0;
    --first-color-light-dark: #dcc8ae;
    --first-color-lighten: #f8ebda;

    /* Font & Typography */

    --body-font: 'Howdy Lemon',
        'PoetsenOne-Regular';
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --normal-font-size: 1.75rem;
    --small-font-size: 1.5rem;
    --smaller-font-size: 1.25rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--h1-font-size);
    font-family: 'Howdy Lemon';
}

h3 {
    font-weight: var(--font-semi-bold);
}

p {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'PoetsenOne-Regular';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Menu icon */
.bx {
    font-size: 1.6rem;
}

/* Class CSS */
.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* Layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* ---------------------------------- Footer ---------------------------- */
.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer-description {
    margin-bottom: var(--mb-2);
}

.footer-social {
    margin-bottom: 3rem;
}

.footer__link {
    display: inline-flex;
    background-color: var(--first-color-light);
    color: var(--first-color);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer-link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/* ------------------------- Media Queries for phone screen ---------------------------- */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

/* ------------------------- Media Queries for tablet screen ---------------------------- */
@media screen and (min-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

/* ------------------------------ Media Query for laptop/desktop screen ------------------------- */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}